.login{

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    &__input{
        margin-top: 50px;
    }
}